$color-slate: #3f4c5b;
$color-steel: #6f859b;
$color-bluish-grey: #7e8c9c;
$color-turquoise: #56b2d6;
$color-white: #ffffff;
$color-white-two: #f5f7f7;
$color-cerulean: #008bce;
$color-apricot: #ffbe72;
$color-pale-grey: #e9eff9;
$color-pale-grey-two: #e9eff8;
$color-black: #000000;
$color-warm-grey: #707070;
$color-warm-grey-two: #848484;
$color-dodger-blue: #3fa9f5;
$color-dull-orange: #ffbe72;
$color-cloud-grey: #474747;
$color-light-steel: #c4d4eb;
$color-light-steel-two: #c8e4ff;
