.square-cards {
  position: relative;
  max-width: vw(300, 375);

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    &:nth-child(n + 3) {
      margin-top: 13.5px;

      @include media-breakpoint-up(md) {
        margin-top: 27.7px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    max-width: 448px;
  }

  @include media-breakpoint-up(xl) {
    max-width: calcPercent(920, 1920) + vw;
  }

  .special-cards {
    $amount: vw(140, 375);
    width: $amount;
    height: $amount;
    text-align: center;
    padding: vw(15, 375);
    cursor: pointer;

    &[special-cards-details] {
      position: absolute;
      top: 100%;
      display: none;
      margin-top: 1rem;
      width: 150%;
      z-index: 999;
      text-align: left;

      @include media-breakpoint-down(md) {
        left: 50%;
        transform: translateX(-50%);
        overflow: auto;

        .main-description {
          font-size: 12px;
        }
      }

      @include media-breakpoint-up(xl) {
        width: 100%;
      }
    }

    @include media-breakpoint-up(md) {
      padding: 20.6px 40.1px;
    }

    @include media-breakpoint-up(xl) {
      padding: vw(20.6, 1920) vw(27, 1920);
    }

    &__icon {
      height: 58px;
      max-height: 58px;

      + * {
        margin-top: 10px;
      }

      @include media-breakpoint-up(md) {
        height: 96.7px;
        max-height: 96.7px;

        + * {
          margin-top: 39.8px;
        }
      }

      @include media-breakpoint-up(xl) {
        height: vw(96.7, 1920);
        max-height: vw(96.7, 1920);

        + * {
          margin-top: vw(39.8, 1920);
        }
      }
    }

    &__title {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1.2;
      color: $color-bluish-grey;

      @include media-breakpoint-up(md) {
        font-size: 16px;
        letter-spacing: 0.64px;
      }

      @include media-breakpoint-up(xl) {
        font-size: vw(16, 1920);
        letter-spacing: vw(0.64, 1920);
      }
    }

    @include media-breakpoint-up(md) {
      width: 206.2px;
      height: 228px;
    }

    @include media-breakpoint-up(xl) {
      width: calcPercent(206.2, 1920) + vw;
      height: calcPercent(228, 1920) + vw;
    }
  }
}
